<header>
  <h1>QU!ZZ!CAL</h1>
</header>
<div id="terminal"></div>
<script>
  var term = new Terminal({
    cols: 80,
    rows: 24,
  });
  term.open(document.getElementById("terminal"));
  term.write("\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n         Loading... ");
  // term.writeln("    ");

  var ws = new WebSocket(
    location.protocol.replace("http", "ws") +
      "//" +
      location.hostname +
      (location.port ? ":" + location.port : "") +
      "/",
  );

  ws.onopen = function () {
    new attach.attach(term, ws);
  };

  ws.onerror = function (e) {
    console.log(e);
  };
  // Set focus in the terminal
  document.getElementsByClassName("xterm-helper-textarea")[0].focus();
</script>
